body {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #ee725a;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 31px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus {
  background-color: #f26843;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
  linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  background-color: #bc5e4b;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
  linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px #942718;
}

/*Header*/

.site-navigation {
  list-style: none;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-current > a {
  background-color: #ee725a;
  border-bottom: none;
  border-radius: 16px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #323232;

  background-color: #ffffff;
  border-bottom: none;
  border-radius: 16px;
}

.site-navigation a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0 2px 1px #696969;
}

.site-navigation li:first-child:hover .catalog-menu {
  display: block;
}

.catalog-menu {
  display: none;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  background-color: #f7f6f3;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-menu li:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/*пока не представляю как эту черту сделать шире текста, может она не бордером здесь делается, а элементом after?*/

.catalog-menu a {
  color: #323232;

  border-bottom: none;
}

.catalog-menu a:hover,
.catalog-menu a:focus {
  background-color: #fbded7;
  border-radius: 0;
}

.catalog-menu a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.catalog-menu-current a {
  color: #ffffff;

  background-color: #d07058;
}
/*этого состояния на страницах нет*/

.main-header .wrapper:hover .search-form {
  display: block;
}
/*пришлось делать обертку, чтобы не исчезал поиск после потери фокуса у слова "Поиск"*/
/*решил всё-таки сделать текст у самой ссылки, а лейбл удалить (посмотрел несколько примеров использования input type=search в интернете, как я понял ему лейбл не обязателен.*/

.search-form {
  display: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-form input {
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  border: 2px solid #b2b2b2;
  border-radius: 5px;
}

.search-form input:hover {
  border: 2px solid #9a9a9a;
}

.search-form input:focus {
  border: 2px solid #2e88e4;
  outline: none;
}

.search,
.login-link,
.cart {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.search:hover,
.search:focus,
.login-link:hover,
.login-link:focus,
.cart:hover,
.cart:focus {
  color: #323232;

  background-color: #ffffff;
}

.main-header .wrapper:hover .login-form {
  display: block;
}
/*Тоже пришлось сделать обертку*/

.login-form {
  display: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.login-form input {
  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  border: 2px solid #b2b2b2;
  border-radius: 5px;
}

.login-form input:hover {
  border: 2px solid #9a9a9a;
}

.login-form input:focus {
  border: 2px solid #2e88e4;
  outline: none;
}

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-form a:hover,
.login-form a:focus {
  color: #e84d37;

  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.not-empty {
  color: #323232;

  background-color: #ffffff;
}

.products-cart {
  display: none;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.products-cart img {
  border-radius: 50%;
}

.products-cart span {
  color: #999999;
}
/*с разделителем здесь пока так же не разобрался*/
.products-cart p {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.main-header .wrapper:hover .products-cart {
  display: block;
}

.contact-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

/*end of Header*/
/*Slides*/

.offers-list {
  list-style: none;
}

.offers-item h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.offers-btn {
  font-size: 32px;
  line-height: 44px;
}

.offers-list li:first-child {
  display: none;

  background-color: #849d8f;
  background-image: url(../img/bg-slider-creamy-raspberry.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/*пока не понимаю как осуществить чтобы бекграунд слайдов заползал на хедер и на блок ниже слайдов?*/
.offers-list li:nth-child(2) {
  display: none;

  background-color: #8996a6;
  background-image: url(../img/bg-slider-chocolate-lemon.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.offers-list li:last-child {
  display: none;

  background-color: #9d8b84;
  background-image: url(../img/bg-slider-fondant-strawberry.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-1:checked ~ .offers-list li:first-child,
.btn-2:checked ~ .offers-list li:nth-child(2),
.btn-3:checked ~ .offers-list li:last-child {
  display: block;
}
/*не получилось поменять цвет фона у body с помощью этой конструкции, я так понял она работает только внутри данного section и делается через js?*/

/*end of Slides*/
/*Banners*/

.banners-list {
  list-style: none;
}

.banners-item {
  border-radius: 15px;
}

.banners-list li:first-child {
  background-image: url(../img/bg-raspberry.jpg);
  background-repeat: no-repeat;
}

.banners-list li:last-child {
  background-image: url(../img/bg-chocolate.jpg);
  background-repeat: no-repeat;
}

.banners-item h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.banners-item p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/*end of Banners*/

/*здесь должны были быть стили HITS, но так как они абсолютно идентичны, то я добавил их к свойствам каталога.*/

/*about-shop*/

.about-shop {
  color: #323232;

  background-color: #e9dcc0;
  background-image: url(../img/bg-waffle.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.about-shop h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-list {
  list-style: none;
}

/*end of about-item*/
/*news-post*/

.news-post {
  color: #323232;

  background-color: #ffffff;
  background-image: url(../img/bg-strawberry.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
}

.news-post h2 {
  font-size: 16px;
}

.news-post a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.news-post a:hover,
.news-post a:focus {
  color: #e84d37;
}

/*end of news-post*/
/*mailing*/

.mailing {
  color: #5a5a5a;

  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0, #f8f7f4 8px, #92cdff 8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
  border-radius: 15px;
}
/*для фона сверху потом сделаю еще один див*/

.subscribe-form input {
  font: inherit;
  line-height: 24px;
  color: #000000;

  border: 2px solid #b2b2b2;
  border-radius: 5px;
}

.subscribe-form input:hover {
  border: 2px solid #9a9a9a;
}

.subscribe-form input:focus {
  border: 2px solid #2e88e4;
  outline: none;
}

/*end of mailing*/
/*find-us*/

.feedback-contacts {
  background-color: #fdfefe;
  border-radius: 15px;
}

.feedback-contacts p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.feedback-contacts b {
  font-size: 18px;
  line-height: 24px;
}

.feedback-contacts .phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}

/*end of find-us*/
/*catalog.html*/

.page-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

/*breadcrumbs*/

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;

  border-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  color: #ffffff;
}

/*end of breadcrumbs*/
/*filters*/

.filters fieldset {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  border: none;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.sort-list,
.range-controls,
.fat-percent ul,
.fillers ul {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.sort select {
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
}

.sort select:hover,
.sort select:focus {
  color: #323232;
}

.sort option:hover,
.sort option:focus {
  color: #ffffff;

  background-color: #1e90ff;
}

.price-controls input {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.fat-percent ul {
  list-style: none;
}

.fillers ul {
  list-style: none;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #9cb0a4;
  border: 2px solid #ffffff;
  border-radius: 18px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-btn:active {
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0 2px 1px #696969;
}

/*end of filters*/
/*catalog-list*/

.catalog-list,
.hits-list {
  list-style: none;
}

.catalog-item,
.hits-item {
  border-radius: 5px;
}

.catalog-item img,
.hits-item img {
  border-radius: 50%;
}

.catalog-item h3,
.hits-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.item-title a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-title a:hover,
.item-title a:focus,
.item-title a:active {
  color: #ffbc9e;

  border-color: rgba(255, 188, 158, 0.3);
}

.preview-btn {
  display: none;
}

.catalog-item:hover,
.hits-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover .preview-btn,
.hits-item:hover .preview-btn {
  display: block;
}

.price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.price span {
  font-size: 30px;
}

/*end of catalog-list*/
/*pagination*/

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  color: #ffffff;

  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}
/*не могу сбросить стили для pagination-item-current при нажатии на другие pagination-item как в стайлгайде*/

/*end of pagination*/
/*footer*/

.main-footer a {
  color: #ffffff;
}

.social-list {
  list-style: none;
}

.menu-list {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.menu-list li:first-child {
  font-weight: 700;
}

.menu-list a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.made-in {
  font-size: 12px;
  line-height: 18px;
}

.made-in a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-list a:hover,
.menu-list a:focus,
.made-in a:hover,
.made-in a:focus {
  color: #ffbc9e;

  border-color: rgba(255, 188, 158, 0.3);
}

/*end of footer*/
/*modal*/

.modal {
  background-color: #f8f7f4;
  border-radius: 10px;
}

.modal-feedback h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-form input,
.feedback-form textarea {
  font-size: 16px;
  line-height: 24px;

  border: 2px solid #b2b2b2;
  border-radius: 5px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid #9a9a9a;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid #2e88e4;
  outline: none;
}

/*end of modal*/
