html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.btn {
  min-width: 100px;
  padding: 10px 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background-color: #ee725a;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: none;
  border-radius: 17px/22px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover,
.btn:focus {
  background-color: #f26843;
  background-image:
  linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
  linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  background-color: #bc5e4b;
  background-image:
  linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
  linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px #942718;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

/*Header*/

.main-header {
  position: relative;

  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 10px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-navigation {
  flex-grow: 1;
  /*min-width: 380px;*/
}
/*не могу понять, нужно ли здесь ограничивать размернавигации. Вроде как в лекции ограничили, но мне нужно чтобы новые элементы добавлялись до поиска (что сейчас и происходит). Проблема в том, что размеры логотипа при этом не фиксируются и уменьшаются, не могу понять почему.*/

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 700;
  line-height: 18px;
}

.site-navigation-item {
  position: relative;
  z-index: 2;
}

.site-navigation-item > a {
  display: block;
  margin: 0 14px;
  padding: 7px 0;
/*Так и не понял, как сделать ссылки каталога полноразмерными, а не маргинами по бокам.*/
  vertical-align: middle;
  color: #ffffff;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
/*заменил бордер на градиент потому-что из-за падингов бордер съезжает вниз*/
  background-image: linear-gradient(transparent 0, transparent 24px,rgba(255, 255, 255, 0.2) 24px, rgba(255, 255, 255, 0.2) 25px, transparent 25px);
}

.site-navigation-current > a {
  background-color: #ee725a;
  border-radius: 16px;
  display: block;
  padding: 7px 14px;
  margin: 0;
  background-image: none;
}


.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  margin: 0;
  padding: 7px 14px;

  color: #323232;

  background-color: #ffffff;
  border-radius: 16px;
}

.site-navigation-item > a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0 2px 1px #696969;
}

.site-navigation-current > a:hover,
.site-navigation-current > a:focus {
  background-color: #ee725a;
  color: #ffffff;
}

.site-navigation-current > a:active {
  box-shadow: none;
}

.site-navigation-item::after {
  content: "";
  position: absolute;

  display: block;
  width: 200px;
  height: 5px;
}
/*подложка для подменю. */

.catalog-menu {
  position: absolute;
  top: 37px;
  left: -7px;

  display: none;
  width: 143px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  background-color: #f7f6f3;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-menu li {
  margin-bottom: 4px;
}

.site-navigation-item:first-child:hover .catalog-menu {
  display: block;
}

.catalog-menu li:first-child a {
  padding: 11px 20px;
}

.catalog-menu li:first-child a::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 7px;

  width: 128px;
  height: 1px;

  background-color: rgba(0, 0, 0, 0.2);
}
/*сделал черту псевдоэлементом, потому что бордер тянется во всю ширину.*/

.catalog-menu a {
  display: block;
  padding: 6px 20px;

  color: #323232;

  border-bottom: none;
}

.catalog-menu a:hover,
.catalog-menu a:focus {
  background-color: #fbded7;
}

.catalog-menu a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.catalog-menu li:first-child a:hover,
.catalog-menu li:first-child a:focus {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-menu-current a {
  color: #ffffff;

  background-color: #d07058;
}
/*этого состояния на страницах нет*/

.main-header .wrapper {
  position: relative;

  margin-right: 10px;
}

.main-header .wrapper:last-of-type {
  margin-right: 0;
}

.main-header .wrapper::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;

  width: 100px;
  height: 22px;
}
/*подложка*/

.main-header .wrapper:hover .search-form {
  display: block;
}

.search-form {
  position: absolute;
  top: 36px;
  left: -309px;

  display: none;
  width: 341px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-form input {
  width: 100%;
  padding: 9px 13px;

  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.search-form input:hover {
  padding: 8px 12px;

  border: 2px solid #9a9a9a;
}

.search-form input:focus {
  padding: 8px 12px;

  border: 2px solid #2e88e4;
  outline: none;
}

.search {
  display: block;
  width: 32px;
  height: 32px;
}

.search svg {
  position: absolute;
  left: 7px;
  top: 6px;
  width: 17px;
  height: 17px;
}
/*заинлайнил в данном случае чтобы не загружать 2 одинаковых картинки разных цветов*/

.login-link {
  display: block;
  width: 92px;
  padding: 7px 14px 7px 44px;
}

.login-link svg {
  position: absolute;
  top: 5px;
  left: 16px;
  width: 21px;
  height: 19px;
}

.cart {
  display: block;
  min-width: 100px;
  padding: 7px 14px 7px 46px;
}

.cart svg {
  position: absolute;
  top: 5px;
  left: 16px;
  width: 21px;
  height: 20px;
}

.search,
.login-link,
.cart {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.search:hover,
.search:focus,
.login-link:hover,
.login-link:focus,
.cart:hover,
.cart:focus {
  color: #323232;

  background-color: #ffffff;
}

.search:hover path,
.search:focus path {
  fill: #000000;
}

.login-link:hover path,
.login-link:focus path {
  fill: #000000;
}

.cart:hover path,
.cart:focus path,
.cart:hover circle,
.cart:focus circle {
  fill: #000000;
}

.main-header .wrapper:hover .login-form {
  display: flex;
  flex-wrap: wrap;
}

.login-form {
  position: absolute;
  top: 35px;
  left: -185px;
  z-index: 2;

  display: none;
  width: 277px;
  padding: 20px 17px 22px 19px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.login-form p {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 9px 14px;

  font: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.login-form input:hover {
  padding: 8px 13px;

  border: 2px solid #9a9a9a;
}

.login-form input:focus {
  padding: 8px 13px;

  border: 2px solid #2e88e4;
  outline: none;
}

.entry-btn {
  margin-right: 20px;
}

.links-wrapper {
  width: 121px;
}

.login-form a {

  font-size: 13px;
  line-height: 21px;
  color: #323232;

/*  border-bottom: 1px solid rgba(0, 0, 0, 0.3);*/
background-image: linear-gradient(transparent 0, transparent 13px,rgba(0, 0, 0, 0.3) 13px, rgba(0, 0, 0, 0.3) 14px, transparent 14px);
}
/*тоже заменил бордер градиентом*/

.login-form a:hover,
.login-form a:focus {
  color: #e84d37;
background-image: linear-gradient(transparent 0, transparent 13px,rgba(232, 77, 55, 0.3) 13px, rgba(232, 77, 55, 0.3) 14px, transparent 14px);
  /*border-bottom-color: rgba(232, 77, 55, 0.3);*/
}

.not-empty {
  color: #323232;

  background-color: #ffffff;
}

.not-empty:hover path:first-child,
.not-empty:focus path:first-child {
  fill: #E84D37;
}

.products-cart {
  display: none;
  z-index: 2;
position: absolute;
width: 540px;
left: -422px;
top: 35px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.products-cart-list {
  border-collapse: collapse;
  margin: 12px 21px 12px 9px;
}

.products-cart-list::after {
  position: absolute;
  content: "";
  width: 510px;
  height: 1px;
  background-color: #cacac7;
  left: 14px;
  bottom: 111px;
}

.products-cart-item td {
padding: 7px 7px 7px 7px;
}

.products-cart-item td:nth-child(3) {
  width: 246px;
}

.products-cart-item td:last-child {
  padding-left: 20px;
}

.products-cart-item:nth-child(2) td:nth-child(3) {
padding-top: 19px;
padding-bottom: 2px;
}

.close-btn {
  position: relative;
display: block;
  width: 11px;
  height: 11px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 1;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 4px;
left: -3px;

  width: 17px;
  height: 1px;

  background-color: #000000;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.products-cart img {
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.products-cart span {
  color: #999999;
}

.products-cart p {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  margin-top: 30px;
  margin-right: 15px;
}

.checkout-btn {
float: right;
padding: 9px 14px;
margin-right: 16px;
border-radius: 18px/22px;
margin-bottom: 21px;
}
/*С оформлением таблицы все очень сложно, почему-то просто в голову не приходит как можно упростить все это.*/

.main-header .wrapper:hover .products-cart {
  display: block;
}

.contact-info {
  position: absolute;
  top: 67px;
  right: 26px;
  z-index: 1;

  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

/*end of Header*/
/*Slides*/

.offers-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers-item {
  min-height: 881px;
}

.offers-item h2 {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.offers-btn {
  font-size: 15px;
  line-height: 44px;
}

.offers-list li:first-child {
  display: none;

  background-color: #849d8f;
  background-image: url(../img/bg-slider-creamy-raspberry.png);
  background-repeat: no-repeat;
  background-position: center center;
}
/*из идей с бекграундом только обернуть блоки шапки,слайдера и предложений в див и этому диву уже задать background image*/
.offers-list li:nth-child(2) {
  display: none;

  background-color: #8996a6;
  background-image: url(../img/bg-slider-chocolate-lemon.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.offers-list li:last-child {
  display: none;

  background-color: #9d8b84;
  background-image: url(../img/bg-slider-fondant-strawberry.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-1:checked ~ .offers-list li:first-child,
.btn-2:checked ~ .offers-list li:nth-child(2),
.btn-3:checked ~ .offers-list li:last-child {
  display: block;
}
/*не получилось поменять цвет фона у body с помощью этой конструкции, я так понял она работает только внутри данного section и делается через js?*/

/*end of Slides*/
/*Banners*/

.banners {
  margin-bottom: 40px;
}

.banners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.banners-item {
  width: 560px;

  border-radius: 15px;
}

.banners-list li:first-child {
  background-image: url(../img/bg-raspberry.jpg);
  background-repeat: no-repeat;
}

.banners-list li:last-child {
  background-image: url(../img/bg-chocolate.jpg);
  background-repeat: no-repeat;
}

.banners-item h3 {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.banners-item p {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/*end of Banners*/

/*здесь должны были быть стили HITS, но так как они абсолютно идентичны, то я добавил их к свойствам каталога.*/
.hits {
  margin-bottom: 40px;
}
/*about-shop*/

.about-shop {
  margin-bottom: 40px;
  padding: 25px 20px 23px;

  color: #323232;

  background-color: #e9dcc0;
  background-image: url(../img/bg-waffle.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  border-radius: 15px;
}

.about-shop h2 {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-item {
  width: 540px;
  padding-top: 22px;
  padding-left: 57px;
}
/*текст в одной из колонок не совпадает потому что в макете там между словами 2 пробела, я сделал 1.*/

.about-item:first-child {
  background-image: url(../img/icon-icecream.svg);
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.about-item:nth-child(2) {
  background-image: url(../img/icon-cow.svg);
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.about-item:nth-child(3) {
  background-image: url(../img/icon-leaf.svg);
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.about-item:last-child {
  background-image: url(../img/icon-thermometer.svg);
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.about-item p {
  margin: 0;
}

/*end of about-item*/

.two-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

/*news-post*/

.news-post {
  width: 560px;
  padding: 24px 20px;

  color: #323232;

  background-color: #ffffff;
  background-image: url(../img/bg-strawberry.jpg);
  background-repeat: no-repeat;
  background-position: -47px -220px;
  background-size: 153%;
  border-radius: 15px;
}

.news-post h2 {
  margin: 0;

  font-size: 16px;
}

.news-post a {
  display: block;
  width: 300px;
  margin-bottom: 60px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}
/*здесь не совсем ясно как опустить подчеркивание чуть ниже. Задавая бордером, подчеркивание появляется в самом низу.*/

.news-post a:hover,
.news-post a:focus {
  color: #e84d37;
}

/*end of news-post*/
/*mailing*/

.mailing {
  width: 560px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0, #f8f7f4 8px, #92cdff 8px, #92cdff 16px, #f8f7f4 16px, #f8f7f4 24px, #fe9e90 24px, #fe9e90 32px);
  border-radius: 15px;
}
/*для фона сверху потом сделаю еще один див*/

.mailing .wrapper {
  margin: 5px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.mailing p {
  margin: 0;
  /*margin-bottom: 36px;*/
  padding-top: 30px;
  padding-left: 23px;
}

.subscribe-form input {
  width: 368px;
  margin-top: 36px;
  margin-right: 8px;
  margin-bottom: 34px;
  margin-left: 21px;
  padding: 9px 14px;

  font: inherit;
  line-height: 24px;
  color: #000000;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.subscribe-form input:hover {
  padding: 8px 13px;

  border: 2px solid #9a9a9a;
}

.subscribe-form input:focus {
  padding: 8px 13px;

  border: 2px solid #2e88e4;
  outline: none;
}

.submit-btn {
  padding: 11px 18px 10px;
vertical-align: baseline;
  border-radius: 22px;
}

/*end of mailing*/
/*find-us*/

.find-us.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.feedback-contacts {
  background-color: #fdfefe;
  border-radius: 15px;
}

.feedback-contacts p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.feedback-contacts b {
  font-size: 18px;
  line-height: 24px;
}

.feedback-contacts .phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #323232;
}

/*end of find-us*/
/*catalog.html*/

.inner-page .main-header {
  margin-bottom: 28px;
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 27px;
}

/*breadcrumbs*/

.breadcrumbs {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 21px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "»";
  position: absolute;
  top: 0px;
  right: -14px;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;

  border-color: rgba(255, 188, 158, 0.3);
}

.breadcrumbs-current {
  color: #ffffff;
}

/*end of breadcrumbs*/
/*filters*/

.filters {
  width: 860px;
  margin-bottom: 35px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters fieldset {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  border: none;
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
}

.sort-list,
.range-controls,
.fat-percent ul,
.fillers ul {
  margin: 0;
  padding: 0;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.sort select {
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 18px;
}

.sort select:hover,
.sort select:focus {
  color: #323232;
}

.sort option:hover,
.sort option:focus {
  color: #ffffff;

  background-color: #1e90ff;
}

.price-controls input {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.fat-percent ul {
  list-style: none;
}

.fillers ul {
  list-style: none;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #9cb0a4;
  border: 2px solid #ffffff;
  border-radius: 18px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-btn:active {
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0 2px 1px #696969;
}

/*end of filters*/
/*catalog-list*/

.catalog {
  margin-bottom: 30px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
text-align: center;
  border-radius: 5px;
  /*padding: 0 13px;*/
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item img {
  width: 267px;
  height: 267px;
  margin-top: 6px;

  border-radius: 50%;
  margin-bottom: 7px;
}

.catalog-item h3 {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.item-title a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.item-title a:hover,
.item-title a:focus,
.item-title a:active {
  color: #ffbc9e;

  border-color: rgba(255, 188, 158, 0.3);
}

.preview-btn {
  display: none;
  padding: 10px 17px;
  margin-bottom: 21px;
}

.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover .preview-btn {
  display: inline-block;
}

.price {
  position: absolute;
  left: 0;
  top: 216px;
  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.price span {
  font-size: 30px;
}

/*end of catalog-list*/
/*pagination*/

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  color: #ffffff;

  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}
/*не могу сбросить стили для pagination-item-current при нажатии на другие pagination-item как в стайлгайде*/

/*end of pagination*/
/*footer*/

.main-footer {
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 25px;
}

.main-footer a {
  color: #ffffff;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 186px;
  margin: 0;
  margin-right: 237px;
  padding: 0;

  list-style: none;
  margin-top: 12px;
}

.social-item {
  width: 38px;
  height: 38px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-item svg {
  opacity: 0.8;
  width: 32px;
  height: 32px;
}

.social-item:hover,
.social-item:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-item:hover svg,
.social-item:focus svg {
  opacity: 1;
}

.social-item:active path {
  fill: #f9f9f9;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 304px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
}
/*пока задал ширину без учета "сердечка", не проверял будет ли оно видно после добавления его*/

.menu-list li {
  margin-top: 7px;
}

.menu-list li:first-child {
  position: relative;

  font-weight: 700;
}

.menu-list li:first-child::before {
  content: "";
  position: absolute;
  left: -23px;
  top: 4px;

  width: 15px;
  height: 13px;

  background-image: url(../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-list li:nth-child(2) {
  margin-right: 56px;
}

.menu-list a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright {
  margin-left: auto;
}

.academy-logo img {
  /*display: block;*/
  width: 108px;
  height: 38px;
  margin-left: 2px;
}

.made-in {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
}

.made-in a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-list a:hover,
.menu-list a:focus,
.made-in a:hover,
.made-in a:focus {
  color: #ffbc9e;

  border-color: rgba(255, 188, 158, 0.3);
}

/*end of footer*/
/*modal*/

.modal {
  /*скрыто*/
  position: fixed;
  top: 36%;
  left: 50%;

  display: none;

  background-color: #f8f7f4;
  border-radius: 10px;
  transform: translateX(-50%);
}

.modal-feedback {
  width: 477px;
  padding: 16px 25px 27px 24px;
}

.modal-feedback h2 {
  margin: 0;
  margin-bottom: 19px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-form input {
  width: 268px;
  padding: 9px 15px;
}

.feedback-form textarea {
  width: 100%;
  min-height: 155px;
  padding: 9px 15px;
}

.feedback-form input,
.feedback-form textarea {
  font-size: 16px;
  line-height: 24px;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  padding: 8px 14px;

  border: 2px solid #9a9a9a;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  padding: 8px 14px;

  border: 2px solid #2e88e4;
  outline: none;
}

.send-btn {
  display: block;
  margin-left: auto;
  padding: 10px 22px;
  border-radius: 21px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;

  width: 18px;
  height: 17px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 1;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -3px;

  width: 22px;
  height: 2px;

  background-color: #000000;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
/*end of modal*/
